{% extends "layout.html" %}
{% block content %}
<div class="entry-list single">
    <article>
        <h1>{{ entry.title }}</h1>
        {% for tag in tags %}
            <a href="{{ url_for('tags', tag=tag) }}">{{ tag }}</a>
        {% endfor %}
        <div class="entry">
            <h3>
                <span class="left">
                    <time data-time="{{ entry.date }}"
                    class="distime"
                    datetime="{{ entry.date.strftime('%Y-%m-%d')}}"></time>
                </span>
                <span class="right">Time spent: {{ entry.time_spent }}</span>
            </h3>

        </div>
        <div class="entry">
            <h3>What I Learned:</h3>
            <p>{{ entry.learning }}</p>
        </div>
        <div class="entry">
            <h3>Resources to Remember:</h3>
            <p>{{ entry.resources }}</p>
        </div>
        <div>
            <a class="button icon-right" href="{{ url_for('delete', entry_id=entry.id) }}"><span>Delete Entry</span></a>
            <a class="button icon-right" href="{{ url_for('edit', entry_id=entry.id) }}"><span>Edit Entry</span></a>
            <a class="button icon-right" href="{{ url_for('index') }}"><span>Home</span></a>
        </div>
    </article>
</div>
{% endblock %}
